* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@media screen {
    body {
        --c-back: hsl(0, 0%, 5%);
        --c-back-2: hsl(0, 0%, 15%);
        --c-front: hsl(0, 0%, 100%);
        --c-front-2: hsl(0, 0%, 80%);
        --c-border: hsl(0, 0%, 40%);
        --c-theme: hsl(350, 70%, 50%);
    }
}

@media screen and (prefers-color-scheme: light) {
    body {
        --c-back: hsl(0, 0%, 100%);
        --c-back-2: hsl(0, 0%, 95%);
        --c-front: hsl(0, 0%, 0%);
        --c-front-2: hsl(0, 0%, 20%);
        --c-border: hsl(0, 0%, 70%);
        --c-theme: hsl(350, 70%, 50%);
    }
}

body {
    background-color: var(--c-back);
    color: var(--c-front);
}

h1, h2, h3 {
    color: var(--c-theme);
    margin: .5em 10px 1em 10px;
}

p {
    width: calc(100% - 20px);
    margin: 1em 10px;
}

a {
    text-decoration: none;
    color: var(--c-theme);
}

a:hover {
    text-decoration: underline;
}

input {
    background-color: var(--c-back);
    color: var(--c-front);
    font-size: 16px;
}

button.link {
    background-color: unset;
    font-size: 1em;
    color: var(--c-theme);
    border: none;
    cursor: pointer;
}

button.link:hover {
    text-decoration: underline;
}

table {
    margin: 0px auto;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.air {
    border-collapse: unset;
    border-spacing: 0.2em;
    border: none;
}

tr:nth-child(even) {
    background-color: var(--c-back-2);
    border-color: var(--c-border);
}

table.air tr {
    background-color: unset;
}

th,
td {
    padding: 0.5em 1em;
    max-width: 250px;
    border: 1px solid var(--c-border);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.air th,
table.air td {
    border: none;
}

table.air th {
    font-weight: normal;
    color: var(--c-front-2);
}

td.numeric {
    font-family: monospace;
    text-align: right;
}

td.empty {
    color: var(--c-front-2);
}

.overflow-hidden {
    overflow: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.card {
    background-color: var(--c-back-2);
    padding: 10px;
    border-radius: 10px;
}

.search {
    flex-basis: 100%;
    flex-shrink: 0;
    transition: all ease 150ms;
    padding: 10px 20px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    text-align: center;
}

.search:focus {
    flex-shrink: 1;
    text-align: left;
}

.search-cancel {
    flex-shrink: 0;
    align-self: center;
    margin: 0em 1em;
}

ul.regions {
    list-style: none;
}

ul.regions li {
    padding: .5em 0px;
    border-bottom: 1px solid var(--c-border);
}

ul.regions li:hover {
    background-color: var(--c-back-2);
}
